<table role="presentation" tabindex="0"
	data-dojo-attach-event="blur: handleBlur, onkeypress: onKeyPress"
	class="dijit dijitMenu dijitReset dijitMenuTable lotusNavMenu lconnSearchScope dijitMenuActive"
	style="position:fixed;">
	<tbody tabindex="0" class="dijitReset">

		<tr
			data-dojo-attach-event="onmouseenter: displayHighlight, onmouseleave: removeHighlight, onclick: setSelectedApplication"
			class="dijitReset dijitMenuItem lotusAlignLeft">

			<td class="dijitReset"><img alt=""
				class="dijitMenuItemIcon lconnSprite lconnSprite-iconWikis16" />
			</td>

			<td colspan="2" class="dijitReset dijitMenuItemLabel">${nls.publicWikis}</td>
		</tr>

		<tr
			data-dojo-attach-event="onmouseenter: displayHighlight, onmouseleave: removeHighlight, onclick: setSelectedApplication"
			class="dijitReset dijitMenuItem">

			<td class="dijitReset"><img alt=""
				class="dijitMenuItemIcon lconnSprite lconnSprite-iconWikis16" />
			</td>

			<td colspan="2" class="dijitReset dijitMenuItemLabel">${nls.goToWiki}</td>
		</tr>


		<tr class="dijitMenuSeparator" id="dijit_MenuSeparator_1"
			widgetid="dijit_MenuSeparator_1" >
			<td colspan="4">
				<div class="dijitMenuSeparatorTop"></div>
				<div class="dijitMenuSeparatorBottom"></div>
			</td>
		</tr>

		<tr
			data-dojo-attach-event="onclick: setSelectedApplication, onmouseenter: displayHighlight, onmouseleave: removeHighlight"
			class="dijitReset dijitMenuItem">
			<td class="dijitReset"><img alt=""
				class="dijitMenuItemIcon lconnSprite lconnSprite-iconConnections16" />
			</td>
			<td colspan="2" class="dijitReset dijitMenuItemLabel">${nls.allConnections}</td>
		</tr>


	</tbody>
</table>